@using coffeetime.Models
@inherits ModalComponentBase

@code {
    private class AddBatchModel
    {
        public int TakeCount { get; set; } = 1;
    }

    [Parameter]
    public required PackageBatch Batch { get; set; }

    private string _getBatchTotalText()
        => $"{Batch.BatchCount:N0}개 / 각 {(Batch.Item.ItemSize / Batch.BatchCount):N0}g";

    private string _getBatchRemainingText()
        => $"{Batch.RemainingCount:N0}개 / {(Batch.Item.ItemSize - ((Batch.Item.ItemSize / Batch.BatchCount) * (Batch.BatchCount - Batch.RemainingCount))):N0}g";

    private EditContext _editContext = default!;
    private ValidationMessageStore _messageStore = default!;
    private AddBatchTake.AddBatchModel _model = new();

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_model);
        _messageStore = new ValidationMessageStore(_editContext);

        _editContext.OnValidationRequested += HandleValidationRequested;
    }

    private void HandleValidationRequested(object? sender, ValidationRequestedEventArgs e)
    {
        _messageStore.Clear();

        if (_model.TakeCount > Batch.RemainingCount)
        {
            _messageStore.Add(
                _editContext.Field(nameof(AddBatchModel.TakeCount)),
                "가져갈 수량이 남은 수량보다 많을 수 없습니다.");
        }

        if (_model.TakeCount <= 0 || _model.TakeCount > 100)
        {
            _messageStore.Add(
                _editContext.Field(nameof(AddBatchModel.TakeCount)),
                "가져갈 수량은 1개에서 100개 사이여야 합니다.");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        await CloseModal(_model.TakeCount);
    }
}
<div class="card no-border-radius mb-4">
    <div class="card-body shadow">
        <h6 class="mb-3">선택한 배치 정보</h6>
        <div class="row">
            <div class="col-3">
                <span>원두</span>
            </div>
            <div class="col-9 text-wrap text-end">
                <span class="text-secondary">@Batch.Item.ItemName</span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <span>소유자</span>
            </div>
            <div class="col-9 text-wrap text-end">
                <span class="text-secondary">@Batch.OwnerUser.UserDisplayName</span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <span>생성일</span>
            </div>
            <div class="col-9 text-wrap text-end">
                <span class="text-secondary">@Batch.RoastedAtUtc.ToString("yyyy-MM-dd HH:mm:ss")</span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <span>총 수량</span>
            </div>
            <div class="col-9 text-wrap text-end">
                <span class="text-secondary">@_getBatchTotalText()</span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <span>남은 수량</span>
            </div>
            <div class="col-9 text-wrap text-end">
                <span class="text-secondary">@_getBatchRemainingText()</span>
            </div>
        </div>
    </div>
</div>
<EditForm EditContext="_editContext" OnValidSubmit="OnValidSubmitAsync">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="itemDescription" class="form-label">가져갈 수량</label>
        <InputNumber class="form-control" id="itemName" placeholder="가져갈 수량을 입력하세요." @bind-Value="@_model.TakeCount" />
        <ValidationMessage class="validation-error" For="@(() => _model.TakeCount)" />
    </div>
    <div class="d-flex justify-content-end gap-3 py-2 ">
        <button type="button"
                class="btn btn-outline-secondary px-3 no-border-radius" @onclick="() => CloseModal(null)">
            취소
        </button>
        <button type="submit"
                class="btn btn-primary px-3 no-border-radius">
            확인
        </button>
    </div>
</EditForm>