<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["vendors/bootstrap/css/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["vendors/bootstrap-icons/font/bootstrap-icons.css"]"/>
    <link rel="stylesheet" href="@Assets["vendors/noto-sans-kr/styles.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["coffeetime.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
    <script>
        function applySystemTheme() {
          const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          document.documentElement.setAttribute('data-bs-theme', isDark ? 'dark' : 'light');
        }

        applySystemTheme();

        window.matchMedia('(prefers-color-scheme: dark)')
          .addEventListener('change', applySystemTheme);
    </script>
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["vendors/bootstrap/js/bootstrap.min.js"]"></script>
</body>

</html>
